.template {
    display: grid;
    gap: 0.5rem;
    height: 100lvh;
}

@media (width <= 800px){
    .template {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (width >= 800px) and (width <= 1280px){
    .template {
        grid-template-columns: repeat(8, 1fr);
    }
}

@media (width >= 1280px){
    .template {
        grid-template-columns: repeat(12, 1fr);
    }
}
