
.image {
    width: 100%;
}

.form {
    display: flex;
    flex-wrap:wrap;

    padding: 2rem;

    background:white;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);

    border-radius: 4px;

    width: 75%;
    height:45%;
}


.buttonLogin {
    flex: 1 0 100%;
    margin-top: 1rem;
    padding: 0.5rem;
}
