.container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    height: 100lvh;

}

.image {
    width: 100%;
}

.imageContainer {
    display: flex;
    height: 100lvh;
}
